@tailwind base;
@tailwind components;
@tailwind utilities;

/*
.body_text_center h3 {

  font-size: 60px;
  text-align: center;

  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  opacity: 0.4;
}

.body_text_center p{
  text-align: center;

  font-size: 15px;
 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  opacity: 0.4;
  background-image: url("/public/images/background-image-food.jpg");
  background-size: auto;
}

.about_for_foodies_center h6{
  text-align: center;
  font-size: 20px;
  color: white;
}



.header-container {
  display: flex;
  justify-content: space-between;

  align-items: center;
  
  padding: 10px;
 
}



.landing_main_header {
  flex: 1;
 
}

.landing_main_header h1 {

margin: 0;


color: white;

}



.landing_main_header_left {
  flex: 1;

  text-align: right;
 
}

.landing_main_header_left a {
  margin-left: 15px;
  text-decoration: none;

  color: white;
  
  font-weight:bold;
}

.landing_main_header_left a:hover {
  text-decoration: none;

}
*/